<!DOCTYPE html>
<html>
  <head>
    <title>Page Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </head>
  <style>
    html,
    body {
      height: 100%;
    }
    body {
      background-image: url("https://wallpaperaccess.com/full/1289481.png"); 
      background-position: center;
      background-size: auto;
      backdrop-filter: blur(10px);
    
    }
   
    div{
        border: 10px solid powderblue;
        color: blue;
        font-family: verdana;
        font-size: 500px;
    }
    p  {
        color: rgb(0, 0, 0);
        font-family: courier;
        font-size: 160%;
        font-size: xx-large;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
    }
    a{
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;

    }
    x{ 
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;

    }
</style>
    
    </style>
  <body>
    
    <div style="background-color:black;
    color:white;
    padding:40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;">

      <h1>CREATE YOUR PORTFOLIO</h1>
      </div>

      <p>This is wehere you create your profile.</p>

      <a class="btn btn-warning" type="submit" href="{{ url_for('accounts.login') }}">Login</a>
      <a class="btn btn-danger" type="submit" href="{{ url_for('accounts.register') }}">Sign in</a>
    </div>
  </body>
</html>
