
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="generator" content="Hugo 0.108.0">
    <title>Dashboard Template · Bootstrap v5.3</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/dashboard/">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
     <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
      body{
        background-image: url("https://wallpapers.com/images/hd/koya-bt21-desktop-564v29h186p48h08.jpg");
      }
      div{ 
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 5px;
      }
      a{ 
      margin-left: 5px;
      margin-right: 5px;
      margin-top: 5px;
      }
      h1{
        position: absolute;
        top : 13%;
        left: 0%;
        font-size: larger;
      }
      table{
        position: absolute;
        top : 20%;
        left: 0%;
      }
      

  
    </style>

    
    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid justify-content-start">
        <a class="navbar-brand" href="#">PRINCE OF SONGKLA UNIVERSITY</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="btn btn-success" type="button" aria-current="page" href="#">HOME</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-warning" type="button" href="{{ url_for('folios.create') }}">CREATE FOLIOS</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-info" type="button" href="{{ url_for('accounts.myport') }}"> MY FOLIO</a>
            </li>
          </ul>
          <span class="navbar-link">
            <a class="btn btn-dark" type="button" href="{{ url_for('accounts.logout') }}">Log out</a>
          </span>
        </div>
      </div>
    </nav>
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2" style="color:brown; font-size: 25px;">HOME</h1>
  </div>
  

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Biography</th>
        <th scope="col">Education</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for folio in folio_data %}
      <tr>
        <th scope="row">{{ folio.id }}</th>
        <td>{{ folio.name }}</td>
        <td>{{ folio.email }}</td>
       
        <td>{{ folio.biography }}</td>
        <td>{{ folio.education }}</td>
        <td>
          <a href="{{ url_for('folios.view', folio_id=folio.id) }}" class="btn btn-primary">View</a>
          <a href="{{ url_for('folios.update', folio_id=folio.id) }}" class="btn btn-warning">Edit</a>
          <a href="{{ url_for('folios.delete', folio_id=folio.id) }}" class="btn btn-danger">Delete</a>
        </td>
       
      </tr>
  
  {% endfor %}

  </tbody>
</table>

    </main>
  </div>
</div>

 </body>
</html>

