<!DOCTYPE html>
<html>
  <head>
    <title>Page Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </head>

  <style>
    body{
        display: flex;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        /* background-color: #f5f5f5; */
        background-image: url("https://pbs.twimg.com/media/DOQlIYVUQAAS0Ed?format=jpg&name=large");
        
    }
     h1{
        position: absolute;
        top : 40%;
        left: 50%;
        font-size: larger;
      }
      img{
        position: absolute;
        top : 20%;
        left: 5%;
        font-size: larger;
      }
      ul{ 
        position: absolute;
        top : 50%;
        left: 40%;
        font-size: larger;
        font-family: Noto;
      }
      a{
        position: absolute;
        top : 70%;
        left: 70%;
        font-size: larger;
      }


  </style>
  <body>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">My PORTFOLIO</h1>
    
        <img src="https://cdn140.picsart.com/341229421049201.gif?to=min&r=480" class="rounded float-start" alt="">
        </div>
        <ul>
          <li>My name is Anongnat Lengnudam</li>
          <li>My nickname is Miw</li>
          <li>I am in the Faculty of Engineering 
            ,Artificial intelligence 
            From Prince of Songkla University.</li>
        </ul>

        <a class="btn btn-dark" type="submit" href="{{ url_for('accounts.dashboard') }}">BACK</a>
    
  </body>
 